/*start of navbar*/

.navbar {
  text-transform: uppercase;
  padding-top: 1rem;
  font-weight: 700;
  font-size:  1.5em;
  letter-spacing: .1rem;

}

.bg-dark{
  background:transparent !important;
  transition:500ms ease;
}


.bg-dark.scrolled {
  background: #403D58 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  letter-spacing: .3rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
-webkit-transform: scale(0.8);
  transition:500ms ease;
}


/*start of landing page*/
.home-inner {
  background-image: url("background1.png");
  min-height: 100%;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: capitalize;

}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;

}

.caption h3 {
  font-size: 2rem text-shadow:.1rem .1rem .5rem black;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  fontsize: 1.1rem;
  text-transform: uppercase;s
}


.Bio{
  min-height: 100vh !important;
}
