/*start of navbar*/

.navbar {
  text-transform: uppercase;
  padding-top: 1rem;
  font-weight: 700;
  font-size:  1.5em;
  letter-spacing: .1rem;

}

.bg-dark{
  background:transparent !important;
  transition:500ms ease;
}


.bg-dark.scrolled {
  background: #403D58 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  letter-spacing: .3rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
 -webkit-transform: scale(0.8);
  transition:500ms ease;
}


/*start of landing page*/
.home-inner {
  background-image: url("background1.png");
  min-height: 100vh !important;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;

}

.caption p{
    text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
}

.Bio{
  min-height: 100vh !important;
}

.Bio h1{
  color:#403D58;
  text-transform: uppercase;
}


.Bio h2{
  color:#403D58;
  text-transform: uppercase;
}

.Bio p{
  font-size: 1.2rem;

}

.btn-dark {
  text-transform: uppercase;
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  fontsize: 1.1rem;
  background-color: #403D58;
}

.btn-dark:hover{
  background-color: #403D58 !important;
  color:white !important;
  opacity: 0.8;
}

/*Achievements and Work page*/



.bg-light{
  background:transparent !important;
  transition:500ms ease;
  color: white !important;
  letter-spacing: .3rem;

}

.bg-light.scrolled {
  background: #DE3C4B!important;
}


.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
 -webkit-transform: scale(0.8);
  transition:500ms ease;
}

.home-inner2 {
  background-image: url("background3.png");
  min-height: 100vh;

}

.work h1{
  color:#DE3C4B;
  opacity: 0.9;
  text-transform: uppercase;
}

.work img{
 height: 12rem;
 width: 20rem;
}


.work .btn-dark {
  width: 11rem;
  text-transform: uppercase;
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  fontsize: 1.1rem;
  background-color: #DE3C4B;
}

.work .btn-dark:hover{
  background-color: #DE3C4B !important;
  color:white !important;
  opacity: 0.8;
}

.work h2{
  color: #FF9B71;
}

.work p {

    font-size: 1.5rem;


}
